

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}





.default_btn{
    color: black;
    background-color: whitesmoke;
    height: 30px;
    width: 200px;
    font-size: large;
    font-family: cursive;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.counter_div > *{
  margin: 30px;
}

.count{
  color: black;
}

.app_heading{
  font-family: 'Times New Roman', Times, serif;
}